body, html{
  background: linear-gradient(to bottom right, white,rgb(93,71,234), #c741e2);
  padding: 0;
  margin: 0;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  scroll-behavior: smooth;

}
a {
  text-decoration: none;
}
a:visited{
  color: black;
}
#view-candidates-container{
  min-height: 100vh;
  background-color: white;
  padding-top: 100px;
}
#review-listing-container{
  border: 1px solid rgb(93,71,234);
  width: 80%;
  margin: auto;
  border-radius: 20px;
  margin-top: 100px;
}
#email-sign-up{
  width: 400px;
  padding: 13px;
  border-radius: 15px;
  margin-right: 20px;
  border: 2px solid rgb(93,71,234);
  outline: none;
  font-size: large;
}
#fullPage{
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
} 

/* Container for the dropdown */
.dropdown-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  top: 100%; /* Adjust if necessary */
  right: 0; /* Adjust if necessary */
}

/* Individual items in the dropdown */
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Hover state for dropdown items */
.dropdown-menu a:hover {
  background-color: #f2f2f2;
}

/* For the sign out link, you can give it a class or an id for specific styling */
.dropdown-menu a#sign-out {
  color: #d9534f; /* Sign out color */
  font-weight: bold;
}

/* The triangle/arrow symbol at the top of the dropdown */
.dropdown-menu:before {
  content: "";
  position: absolute;
  top: -10px; /* Adjust to place the arrow correctly */
  right: 14px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

/* This will style the user name and the caret */
#user-name-button {
  cursor: pointer;
  user-select: none;
}

/* Caret icon next to the user's name */
#user-name-button:after {
  content: "▲";
  font-size: 10px;
  margin-left: 5px;
}

/* Changing the caret direction when the dropdown is open */
#user-name-button.active:after {
  content: "▼";
}



#navbar{
  display: flex;
  background-color: rgba(255,255,255,0.98);
  position: fixed;
  height: 65px;
  width: calc(100% - 60px);
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 0px;
  z-index: 2;
}
#left-navbar-container{
  display: flex;
}
#right-navbar-container{
  display: flex;
  font-size: 15px;
  margin: 18px;
  /* color: rgb(114,79,211); */
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  left: calc(50% - 30px);
  transform: translateX(-50%);
  margin-top: 22px;
}
.navbar-item:hover{
  color: rgb(114,79,211);
}
#navbar-navigation{
  margin-left: 20px;

}
#log-in-out-container{
  display: flex;
  flex-direction: row;
}
.log-in-button{
  border-radius: 20px;
  margin: auto;
  font-size: 15px;
  margin-top: 13px;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
#employee-sign-in:hover{
  border: 1px solid rgb(93,71,234);
  color: rgb(93,71,234);
}
#employee-sign-in{
  border-radius: 20px;
  border: none;
  /* background:  rgb(93,71,234); */
  border: 1px solid black;
  color: black;
  margin: auto;
  font-size: 15px;
  margin-top: 13px;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
#employer-sign-in{
  /* font-weight: 300; */
  /* color: #c741e2; */
  color: black;
}
#employers-container{
  min-height: calc(100vh - 400px);
  background-color: white;
}
#employers-content{
  width: 80%;
  margin: auto;
  padding-top: 100px;
}
#post-listing-button{
  margin: auto;
  font-size: 15px;
  margin-top: 13px;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: 'none';
  user-select: none;
  position: relative;
}
/* Caret icon next to the user's name */
#post-listing-button:after {
  font-size: 10px;
  margin-left: 5px;
  content: "▼";

}

/* Changing the caret direction when the dropdown is open */
#post-listing-button.active:after {
  content: "▲";
}
#theLetterI{
  font-size: 28px;
  background-color: rgb(93,71,234);
  height: 35px;
  width: 35px;
  text-align: center;
  margin: 10px;
  color: white;
  font-weight: 600;
  margin-top: 15px;
}
#appName{
  font-size: 28px;
  margin: 10px;
  color: rgb(93,71,234);
  font-weight: 900;
  cursor: pointer;
  text-decoration: 'none';
  margin-top: 15px;

}
#header-content{
  margin-top: 150px;
}
#landingPageContainer h1{
  text-align: center;
  font-size: 60px;
  width: 80%;
  margin: auto;
  font-weight: 800;
  color: black;
  margin-top: 10px;
  max-width: 850px;
  line-height: 60px;
}
#header-image{
  margin: 0;
  padding: 0;
  margin-top: 70px;
  width: 800px;
  margin-bottom: -4px;
}
#bottom-h1-tag{
  background: -webkit-linear-gradient(to right, rgb(93,71,234), #c741e2); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(to right, rgb(93,71,234), #c741e2); /* Standard syntax */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Make the text color transparent */
  display: inline-block; /* or 'block', depending on your layout needs */
}
#landingPageP{
  width: 40%;
  font-size: 22px;
  color: rgb(81, 80, 80);
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 25px;
  text-align: center;
  font-weight: 500;
}
#landingPageContainer{
  text-align: center;
  background: linear-gradient(to bottom right, white, white 30%, #e2c9fe, #e491f5);
}
#landingPageContainer button{
  border-radius: 50px;
  border: none;
  background: linear-gradient(to right, rgb(93,71,234), #c741e2);
  color: white;
  margin: auto;
  font-size: 18px;
  margin-top: 40px;
  cursor: pointer;
  font-weight: 600;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  align-items: center;
  /* margin-bottom: 100px; */
}
#landingPageContainer button:hover{
  background-color: #ba5366;
  box-shadow: 3px 3px 5px 0px rgba(152, 151, 151, 0.75), -3px -3px 5px 0px rgba(255,255,255,0.75);

}
#browse-listing-hero-button-text{
  margin-right: 5px;
}
#search-jobs-title h2{
  font-size: 50px;
  width: 80%;
  margin: auto;
  font-weight: 700;
  color: black;
  max-width: 850px;
  background: -webkit-linear-gradient(to right, rgb(93,71,234), #c741e2); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(to right, rgb(93,71,234), #c741e2); /* Standard syntax */
  -webkit-background-clip: text; /* For Safari */
  background-clip: text;
  color: transparent; /* Make the text color transparent */
  text-align: center;

}
#search-jobs-title p{
  color: grey;
  font-size: larger;
  text-align: center;
}

#streamline-section h1{
  text-align: center;
  font-size: 50px;
  width: 80%;
  margin: auto;
  font-weight: 700;
  color: black;
  max-width: 850px;
}
#streamline-item-link{
  display: flex;
  background-color: white;
  margin: auto;
  padding: 15px 30px;
  border-radius: 15px;
  justify-content: center;
  font-weight: 900;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  color: black;
}
#streamline-item-link:hover{
  box-shadow: 0px 3px 5px 10px rgba(244, 229, 250, 0.75);
}

#streamline-item-link-icon{
  margin-left: 10px;
  font-weight: 900;
}
.jobs-container {
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
}

.jobs-box {
  height: 360px; /* Or whatever height you prefer */
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  border: rgb(213, 213, 213) 1px solid;
  border-radius: 20px;
  width: 250px;
  margin-bottom: 20px;
  flex-direction: column;
}
.jobs-box:hover{
  box-shadow: 0px 5px 5px 0px rgba(152, 151, 151, 0.75);
  cursor: pointer;
  animation: liftUp 0.3s ease-in-out forwards;
}

@keyframes liftUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5px);
  }
}

#streamline-container{
  background: linear-gradient(to bottom, white, rgb(243, 238, 248));

  padding-top: 100px;
  padding-bottom: 120px;
}
#streamline-images-description{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
#streamline-images-description img{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 70px;
  margin: 30px;
}
.streamline-item p,h2{
  width: 300px;
  margin: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}
.streamline-item h2{
  font-size: 30px;
}
.streamline-item p{
  font-weight: 200;
  line-height: 25px;
  height: 100px;
}
#fucked-up-image{
  object-position: calc(50% - 70px) 50%; 
}

#who-is-this-for{
  background: linear-gradient(to bottom, white, rgb(217, 211, 255));
  width: 100%;
  padding-bottom: 100px;
}
#who-is-this-for-container{
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}
#who-is-this-for h2{
  font-size: 60px;
  width: 700px;
  margin-bottom: 60px;
}
#frenly-who-for{
  color: rgb(93,71,234);
}
#features{
  display: flex;
  margin-left: 30px;
  margin-bottom: 20px;
}
#feature-number{
  background-color: rgb(93,71,234);
  width: 50px;
  height: 50px;
  display: flex; /* Enables flexbox layout */
  align-items: center; /* Vertically centers the content */
  justify-content: center; /* Horizontally centers the content */
  color: white;
  border-radius: 70px;
  font-size: 20px;
  font-weight: 900;
  margin-right: 30px;
}
#feature-description h3{
  margin-top: 0px;
  font-size: 24px;
  margin-bottom: 0px;
}
#feature-description p{
  width: 500px;
  line-height: 25px;
  font-weight: 200;
}
#who-is-this-for button{
  border-radius: 15px;
  border: none;
  background: linear-gradient(to right, rgb(93,71,234), #c741e2);
  color: white;
  margin: auto;
  font-size: 18px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 600;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 30px;
}


#reviews{
  background-color: rgb(93,71,234);
}
#reviews-container{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}
#reviews-container h2{
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 70px;
  margin-top: 70px;
}
#single-review{
  background-color: white;
  width: 300px;
  padding: 30px;
  border-radius: 30px;
  line-height: 30px;
  font-weight: 400;
  margin: 10px;
  font-size: 18px;
  box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.1); /* Horizontal offset, vertical offset, blur radius, spread radius, color */
}
#single-review p{
  height: 190px;
  border-bottom: 1px solid rgb(229, 229, 229);
}
#single-review h3{
  font-size: large;
  color: rgb(93,71,234);
}
#reviews-row{
  display: flex;
  justify-content: center;
}

#about{
  background:linear-gradient(to bottom, white, rgb(217, 211, 255));
  margin: 0;
  padding: 0;
}
#about-container p{
  margin: 0;
  padding: 0;
  width: 70%;
  margin: auto;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  font-size: large;
}
#about-container h2{
  width: calc(100% - 50px);
  text-align: center;
  font-size: 50px;
  margin-bottom: 70px;
  margin-top: 70px;
}
#about-container{
  
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}
#about button{
  border-radius: 15px;
  border: none;
  background: linear-gradient(to right, rgb(93,71,234), #c741e2);
  color: white;
  margin: auto;
  font-size: 18px;
  margin-top: 70px;
  cursor: pointer;
  font-weight: 600;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
